<!DOCTYPE html>
<html lang="es">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container app">
          <div class="row">
              <div class="col-sm-8">
                  <h1 class="center-center">
                      {{title}}
                  </h1>
              </div>
              <div class="col-sm-4">
                  <div class="alert alert-succes alert-dismissable" *ngIf="">
                    <a href="#" class="close" (click)="closeAlert()">
                      &times;
                    </a>
                    {{mensaje}}
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <img width="300" src="./assets/images/imagen.jpg">
            </div>
            <div class="col-sm-8">
                <h2>crear pais</h2>
                <form class="horizontal">
                  <div class="form-group">
                    <label for="name" class="control-label col-sm-2">
                      NOMBRE
                    </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name"
                      name="name" [(ngModel)]="model.pais" placeholder="nombre del pais">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="position" class="control-label col-sm-2">
                        Continente
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="position"
                        name="position" [(ngModel)]="model.position" placeholder="Continente">
                      </div>
                    </div>
                    
                      <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2">
                            <button class="btn btn-success"  type="submit" (click)="agregar_Pais()">
                              enviar
                            </button>
                          </div>
                      </div>
                </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <h2>DATOS</h2>
              <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>pais</th>
                      <th>Continente</th>
                      <th>acciones</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paises of paises, let i=index">
                      <td>{{paises.pais}}</td>
                      <td>{{paises.position}}</td>
                      <td><a (click)="editar_Pais(i)" class="btn btn-success">
                        editar
                      </a>
                      <a (click)="eliminar_Pais(i)" class="btn btn-danger">
                        borrar</a>
                      </td>
                    </tr>
                </tbody>

              </table>
            </div>
            <div class="col-sm-4">
              <h2>Actualizar Paises</h2>
              <form class="form-horizontal">
                  <div class="form-group">
                      <label for="name" class="control-label col-sm-2">
                        NOMBRE
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name"
                        name="name" [(ngModel)]="model2.pais" placeholder="nombre del pais">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="control-label col-sm-2">
                          Continente
                        </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="position"
                          name="position" [(ngModel)]="model2.position" placeholder="Continente">
                        </div>
                      </div>
                      
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                              <button class="btn btn-success"  type="submit" (click)="actualizar_Pais()">
                                enviar
                              </button>
                            </div>
                        </div>
              </form>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
</html>